{% trans_default_domain 'admin' %}

{% set subactive = "admin_newsletter_group_list" %}

{% extends 'PuzzleAdminNewsletterBundle::layout_table.html.twig' %}

{% block title %}{{ parent() }} - {{ "newsletter.group.show"|trans }} {{ group.name|capitalize }} {% endblock %}

{% block mainsubtitle %} - {{ "newsletter.group.base"|trans }}{% endblock %}

{% block headingelements %}
    <a href="{{ url('admin_newsletter_subscriber_create', { 'group' : group.id }) }}" class="btn btn-primary btn-labeled">
        <b><i class="icon-add"></i></b>
        {{ "button.add"|trans }}
    </a>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ url('admin_newsletter_group_list') }}">
            {{ "newsletter.group.list"|trans|capitalize }}
        </a>
    </li>
    <li class="active">
        {{ "newsletter.group.show"|trans|capitalize }}
        <em>{{ group.name }}</em>
    </li>
{% endblock %}

{% block breadcrumbelements %}
    <ul class="breadcrumb-elements">
        {% if subscribers is not empty %}
            <li>
                <a href="#" class="text-danger delete-list toggle-action hide">
                    <i class="icon-trash-alt"></i> {{ "button.remove_list"|trans }}
                </a>
                <input type="hidden" value="admin_subscriber_delete" id="delete-route-name"/>
            </li>
        {% endif %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-plus position-left"></i>
                {{ "button.action"|trans }}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="{{ url('admin_newsletter_group_update', { 'id': group.id }) }}" title="{{ "button.update"|trans }}" alt="{{ "button.update"|trans }}" class="show-modal">
                        <i class="icon-pencil"></i>
                        {{ "button.update"|trans }}
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{ url('admin_newsletter_group_delete', {'id': group.id}) }}" data-toggle="modal" title="{{ "button.delete"|trans }}" class="delete-item" id="delete-item-{{ group.id }}">
                        <i class="icon-trash-alt text-danger"></i>
                        {{ "button.delete"|trans }}
                    </a>
                    <input type="hidden" id="label-delete-item-{{ group.id }}" value="{{ group.name }}">
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block mainpage %}
    <div class="col-lg-12">
        <div class="panel panel-flat">
            <table class="table datatable">
                <thead>
                    <tr>
                        <th>
                            {% if subscribers is not empty %}
                                <a href="#" id="toggle-check">
                                    <i class="icon-checkbox-unchecked toggle-icon"  id="toggle-check-icon"></i>
                            </a>
                                <input type="hidden" value="{{ subscribers|length|default('0') }}" id="toggle-items-count">
                                <input type="hidden" value="0" id="toggle-items-checked-count">
                            {% endif %}
                        </th>
                        <th>{{ "newsletter.subscriber.name"|trans }}</th>
                        <th>{{ "newsletter.subscriber.email"|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for subscriber in subscribers %}
                        <tr class="toggleable" id="item-{{ subscriber.id }}">
                            <td>
                                <a class="text-muted text-small text-left toggleable-btn-select" href="#">
                                    <i class="icon-checkbox-unchecked toggle-icon toggle-item" id="toggle-item-{{ subscriber.id }}"></i>
                                </a>
                            </td>
                            <td>{{ subscriber.name }}</td>
                            <td>{{ subscriber.email }}</td>
                            <td class="text-right">
                                <div class="btn-control">
                                    <span class="icons-list toggleable-btn hide toggleable-btn-controls">
                                        <a href="{{ url('admin_subscriber_show', { 'id': subscriber.id }) }}" title="{{ "button.show"|trans }}" class="mr-10">
                                            <i class="icon-eye"></i> 
                                        </a>
                                        <a href="{{ url('admin_subscriber_delete', {'id': subscriber.id}) }}" data-toggle="modal" title="{{ "button.delete"|trans }}" class="delete-item" id="delete-item-{{ subscriber.id }}">
                                            <i class="icon-trash-alt text-danger"></i>
                                        </a>
                                        <input type="hidden" id="label-delete-item-{{ subscriber.id }}" value="{{ subscriber.name }}">
                                    </span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
